fieldmap/
.build/
bin/
**/__pycache__/
runmanager/module/__pycache__/
*.pyc
*.o
*.obj
*.pcm
*.rootmap
*.so
*.dylib
*.a
*.d
*.log
*.tmp
.DS_Store
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
module.modulemap
Makefile
cmake-build-*/

# Ignore build & outputs
*.root
*.pcm
*.so
.build/
bin/
fieldmap/

.build/
bin/
*.root
*.pcm
*.so
fieldmap/
